.wp-idea-stream-embed-ratings {
	display: inline;
	margin-right: 10px;
}

.wp-idea-stream-embed-ratings a {
	line-height: 25px;
	display: inline-block;
}

#wp-idea-stream {
	position: relative;
}

.wp-idea-stream-embed-ratings .ideastream-star-filled,
#wp-idea-stream .profile-footer .ideastream-rates {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M10%201l3%206%206%200.75-4.12%204.62%201.12%206.63-6-3-6%203%201.13-6.63-4.13-4.62%206-0.75z%22%20fill%3D%22%2382878c%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
	top: 2px;
}

.wp-idea-stream-embed-ratings a:hover .ideastream-star-filled {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M10%201l3%206%206%200.75-4.12%204.62%201.12%206.63-6-3-6%203%201.13-6.63-4.13-4.62%206-0.75z%22%20fill%3D%22%230073aa%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

#wp-idea-stream .profile-footer .ideastream-profile {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20d%3D%22M10%201q1.53%200%202.825%200.755t2.050%202.045%200.755%202.82q0%200.52-0.21%201.18t-0.505%201.235-0.595%201.075-0.51%200.79l-0.21%200.3q-0.25%200.33-0.425%200.86t-0.175%200.94v1q0%200.41-0.295%200.705t-0.705%200.295h-4q-0.41%200-0.705-0.295t-0.295-0.705v-1q0-0.41-0.175-0.94t-0.425-0.86q-0.080-0.11-0.215-0.305t-0.485-0.77-0.615-1.105-0.485-1.205-0.22-1.195q0-1.53%200.75-2.82t2.045-2.045%202.825-0.755zM7%2016.87v-0.87h6v0.87q0%200.53-0.16%200.83t-0.59%200.3h-0.25q0%200.46-0.275%200.73t-0.745%200.27h-2q-0.46%200-0.72-0.265t-0.26-0.735h-0.25q-0.43%200-0.59-0.3t-0.16-0.83z%22%20fill%3D%22%2382878c%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E" );
	top: 2px;
}

#wp-idea-stream .profile-footer .dashicons-admin-comments {
	top: 4px;
}

#wp-idea-stream .profile-header {
	overflow: hidden;
}

body.ideastream .wp-embed-share-dialog {
	z-index: 3;
}

#wp-idea-stream .user-avatar {
	width:auto;
	float:left;
	margin-right: 15px;
	margin-bottom: 15px
}

#wp-idea-stream .profile-footer ul.user-stats {
	float: left;
	overflow: hidden;
	margin: 1em 0 0;
	padding: 0;
	list-style: none;
	width: 50%;
}

#wp-idea-stream .profile-footer .wp-embed-meta {
	margin: 2.5em 0 0;
	float: right;
	width: 50%;
}

#wp-idea-stream .profile-footer ul.user-stats li {
	margin: 0 1em;
	float: left;
}

#wp-idea-stream .profile-footer ul.user-stats li div {
	text-align: center;
}

#wp-idea-stream .profile-footer ul.user-stats li div a {
	text-decoration: none;
	border:none;
}

#wp-idea-stream .profile-footer ul.user-stats li div.stat-value {
	font-weight: bold;
	font-size: 120%;
}

#wp-idea-stream .profile-footer ul.user-stats li div.stat-value a {
	color: #32373c;
}
